{% extends "blog/base.html" %}
{% load static %}

{% block title_block %}
{{ blog_title }}
{% endblock %}

{% block content_block %}
<h1>

  {{ blog_title }}
</h1>
<h6>
  {{ blog_created_at }}
</h6>


{% for component in components %}
      {% if component.type == 'IMAGE' %}      
        <div class="my-5 mx-auto w-50">
          <img src="{{component.image.url}}" width="900px">
        </div>
      {% endif %}
      <div class="my-4 mx-auto w-50">
        <p>{{ component.text}} </p>
      </div>
    {% endfor %}

{% endblock content_block %}
