:root {
  --background-color: #927dee;
  --foreground-color: #ece6e6;
  --main-heading-color: #fff;
  --sub-heading-color: #8e8e8e;
}

body {
  /* background-color: var(--backgroundcolor); */
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.mypic {
  width: 90%;
  border-radius: 13%;
}

h1 {
  color: var(--main-heading-color);
}

h2{
  color: var(--sub-heading-color);
}
